body {
    background-color: rgb(21, 20, 20);
    zoom: 125%;
}

html, body {padding:0; margin:0; height:100%;}
footer{position: absolute; bottom: 0; left: 0; right: 0;}

.wrapper {
    margin: 0 auto;
}

.youngpic {
    display: inline;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    max-height: 25px;
    max-width: 25px;
}

img {
    border-radius: 50%;
}

.wrapper-2 {
    display: inline-flex;
    width: 550px;
    transform: translate(-50%,-50%);
    display: flex;
    float: right;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 8px;
}

.navbar {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    float: right;
    zoom: 30%;
    margin-top: 19px;
}

.navbar div {
    height: 8px;
    width: 60px;
    background-color: #fff;
    position: absolute;
    transition: all 0.5s ease;
}

.navbar .first {
    top: 25px;
    left: 20px;
}

.navbar .second {
    top: 45px;
    left: 20px;
}

.navbar .third {
    top: 65px;
    left: 20px;
}

form {
    width: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 33.6%;
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
    position: static;
    text-align: left;
}

#right {
    display: inline-flexbox;
    float: left;
    position: relative;
    margin-left: 30px;
}

#left {
    display: inline-flexbox;
    float: right;
    position: relative;
    margin-right: 15px;
}

.search {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    display: block;
    font-family: sans-serif;
    text-align: center;
}


h1 {
    letter-spacing: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    width: 50%;
    font-family: Arial;
    font-size: 80px;
    color: white;
    margin-top: 10%;
    }

h5 {
    display: inline-flex;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.share {
    margin: 5px
}

.about {
    margin: 5px
}

.images {
    float: right;
    margin: 5px
}

.floomail {
    display: flex;
    float: right;
    margin: 5px
}

.privacy {
    display: flex;
    float: right;
}

.settings {
    float: right;
}

.terms {
    float: right;
}

.footer-position {
    padding: -40px;
    margin-top: -40px;
    margin-bottom: 0px;
    position: absolute;
    color: white;
    background-color: rgb(132, 120, 120)
}

a:hover{
    text-decoration: none;
    color: #FF00FF;
}

